<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="./favicon.ico">
    <title>bubble清单</title>
    <link href="../static/css/app.8eeeaf31.css" rel="preload" as="style">
    <link href="../static/css/chunk-vendors.57db8905.css" rel="preload" as="style">
    <link href="../static/js/app.007f9690.js" rel="preload" as="script">
    <link href="../static/js/chunk-vendors.ddcb6f91.js" rel="preload" as="script">
    <link href="../static/css/chunk-vendors.57db8905.css" rel="stylesheet">
    <link href="../static/css/app.8eeeaf31.css" rel="stylesheet">
    <script>
        (function () {
            try {
                var token = localStorage.getItem('auth_token');
                if (!token) {
                    // 避免循环跳转: 如果当前已经是 login 页面则不处理
                    if (!/login\.html$/i.test(location.pathname)) {
                        location.replace('./login.html');
                    }
                }
            } catch (e) {
                console.warn('读取本地token失败', e);
                location.replace('./login.html');
            }
        })();
    </script>
</head>

<body>
    <noscript>
        <strong>We're sorry but dsb doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>
    <div id="app"></div>
    <script src="../static/js/chunk-vendors.ddcb6f91.js"></script>
    <script src="../static/js/app.007f9690.js"></script>
    <script>
        (function () {
            if (window.axios) {
                // 设置默认 Authorization 头
                var token = localStorage.getItem('auth_token');
                if (token) {
                    window.axios.defaults.headers.common['Authorization'] = 'Bearer ' + token;
                }
                // 拦截器：每次请求动态读取最新token
                window.axios.interceptors.request.use(function (config) {
                    var tk = localStorage.getItem('auth_token');
                    if (tk) { config.headers['Authorization'] = 'Bearer ' + tk; }
                    return config;
                });
            } else {
                console.warn('[index] 未发现全局axios, 如需Todo接口调用，请确保前端使用的请求库附带token');
            }
        })();
    </script>
</body>

</html>